<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
        <!-- <link rel="stylesheet" href="../../styles.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a199c68c5e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     </head>
<body>
   
    <!--front page-->
    <div>
        <img src="https://media.licdn.com/dms/image/C4E12AQFRhN1A7Fw7Gw/article-cover_image-shrink_720_1280/0/1520102045204?e=2147483647&v=beta&t=2NNVMz-o2msAEVNna8krKlyVvisX9aVhi4-jmIVfof0" class="home-content">
     </div>

    <div style="padding: 4vw;">
      <!-- about section -->
      <div id="aboutSection" class="about-main">
          <div class="about-content">
            <div class="arrow d-flex justify-content-left">
                <img src="../assets/images/hand icon.png"  class="arr-right-about"/>
                <h1 class="services-ser">About Course</h1>
           </div>
              <div class="course-info">
                  <p>Welcome to Iam Digipro Digital Marketing Course - a unique blend of classroom learning and real-time project experience designed to transform you into a digital marketing expert. Our course is perfect for anyone looking to gain in-depth knowledge, practical skills, and valuable industry experience in digital marketing.</p>
              </div>
              <div class="course-details">
                  <div class="detail">
                      <h3>Course Format</h3>
                      <p><b>Online</b></p>
                  </div>
                  <div class="detail">
                      <h3>Course Duration</h3>
                      <p><b>3 Months</b></p>
                  </div>
                  <div class="detail">
                      <h3>Certification</h3>
                      <p><b>Yes</b></p>
                  </div>
                  <div class="detail">
                      <h3>Installment Payment</h3>
                      <p><b>20999/-</b></p>
                  </div>
              </div>
              <div class="buttons">
                  <button class="download-btn" id="downloadPdfButton"><b>Download Pdf</b></button>
                  <button class="apply-btn1">Apply now</button>
              </div>
              <!-- added extra class here -->
              <div class="what-1">
                <div class="arrow d-flex justify-content-left">
                    <img src="../assets/images/hand icon.png"  class="arr-right-trainig"/>
                    <h1 class="services-ser">What You'll Learn in Digital Marketing</h1>
               </div>
              <div>
                  <ul>
                  <li class="trp">Fundamental Principles of Digital Marketing</li>
                  <li class="trp">Innovative Strategies for Online Environments</li>
                  <li class="trp">Wide Range of Digital Marketing Tools</li>
                  <li class="trp">Practical Application of Digital Marketing Strategies</li>
                  </ul>
              </div>
              </div>
          </div>
          <div class="faculty-card-container">
              <div class="post-box1">
                  <div class="post-image1">
                      <div class="post-para">
                          <p>Starts form: 10 July</p>
                      </div>
                      <div class="post-image2">
                          <img src="../assets/images\carrersPage\image_carrerPage1.jpg" alt="aboutCourseimage">
                      </div>
                  </div>
                  <div class="post-content1">
                      <h1><b>Digital Marketing</b></h1>
                      <div class="post-details1 mb-3">                       
                          <button>Online</button>
                          <button>3 Months</button>
                          <button style="background-color: #F66136; color: #FFF; border: none; float: right;">Apply now</button>
                      </div>    
                          <p class="post-tagline">Master Digital Marketing, Transform Your Future</p>
                          <hr>
                  </div>
                      
                      
                  <div class="faculty-card">
                      <h1>Faculty:</h1>
                      <div class="faculty-img1">
                          <img src="../assets/images\carrersPage\image_carrerPage2.jpg" alt="aboutFacultyimage" >
                          <div class="faculty-name1 mt-3">
                              <h3>Faculty Name</h3>
                              <p>Digital Marketing Expert</p>
                          </div>
                      </div>
                  </div>        
                      
              </div>
          </div>
      </div>
       <br>
        <!--faculty section-->
        <div class="faculty-main" id="facultySection">
            <div class="faculty">
                <div class="arrow d-flex justify-content-left">
                    <img src="../assets/images/hand icon.png"  class="arr-right-about"/>
                    <h1 class="services-ser">Faculty</h1>
               </div>
                <div class="faculty-container mb-2">
                    <h1><b>Industry Experts with 11+ Year of Real-Time Experience in Digital Marketing</b></h1>
                    <p>Our faculty is composed of highly skilled professionals who have dedicated their careers to mastering the art and science of digital marketing</p> 
                </div>
                <div class="faculty-img">
                    <img src="../assets/images/facultyName.jpg" alt="facultyimage">
                    <div class="faculty-name">
                        <h3><b>Faculty Name</b></h3>
                        <p>Digital Marketing Expert</p>
                        <diV class="faculty-items">
                            <div class="faculty-item">
                                <p>Extensive Industry Experience</p>
                                <p>Real-World Knowledge</p>
                            </div>
                            <div class="faculty-item">
                                <p>Up-to-Date with Industry Trends</p>
                                <p>Personalized Mentorship</p>
                            </div>
                            <div class="faculty-item">
                                <p>Proven Track Record of Success</p>
                            </div>
                        </diV>  
                    </div>
                </div>
            </div>        
        </div>

        <!--curriculum section-->
        <div id="curriculumSection">
            <div class="arrow d-flex justify-content-left">
                <img src="../assets/images/hand icon.png"  class="arr-right-about"/>
                <h1 class="services-ser">Curriculum</h1>
           </div>
            <!-- <div class="d-flex">
                <i class="fa-solid fa-arrow-right arr-right"></i>
                <h1 class="services-ser1">Curriculum</h1>
            </div> -->
            <div class="curriculum-container">
                <div class="module-list">
                    <ul class="modules">
                       <li  class="trp">Module 1: Digital Marketing overview</li><br>
                       <li  class="trp">Module 2: WordPress</li><br>
                       <li  class="trp">Module 3: Search Engine OPtimization(SEO)</li><br>
                       <li  class="trp">Module 4: PPC ads - Display Ads</li><br>
                       <li  class="trp">Module 5: Keyword Research</li><br>
                       <li  class="trp">Module 6: Social Media Marketing(SMM)</li><br>
                       <li  class="trp">Module 7: ChatGpt</li><br>
                       <li  class="trp">Module 8: Social Media Fundamentals</li><br>
                       <li  class="trp">Module 9: Slideshare</li><br>
                       <li  class="trp">Module 10: Quara Marketing</li><br>
                       <li  class="trp">Module 11: Email Marketing</li><br>
                       <li  class="trp">Module 12: Online Reputation Management</li><br>
                       <li  class="trp">Module 13: Inbound Marketing</li><br>
                       <li  class="trp">Module 14: Google AdSense</li><br>
                       <li  class="trp">Module 15: Affiliate Marketing</li><br>
                       <li  class="trp">Module 16: Freelance Business</li><br>
                       <li  class="trp">Module 17: YouTube Monetization</li><br>
                       <li  class="trp">Module 18: Google Analytics</li>
                    </ul>
                </div>
                <div class="view-more">
                    <p>View more</p>
                </div>
            </div>
        </div>
      
      
      

      <!--benefits section-->
      <div class="benefits-cont" id="benefitsSection">
        <div class="d-flex flex-row justify-content-center">
            <!-- <i class="fa-solid fa-arrow-right arr-right"></i> -->
            <h1 class="services-ser1">Benefits</h1>
        </div>
          <div class="benef-con">
              <div class="orange-cir" id="org-cir1">
                  <h1 class="pra-head">Practical Experience</h1>
                  <p class="rev-par">Reveal more</p>
              </div>
              <div class="orange-cir" id="org-cir2">
                  <h1 class="pra-head">Flexible Payment Options</h1>
                  <p class="rev-par">Reveal more</p>
              </div>
              <div class="orange-cir" id="org-cir3">
                  <h1 class="pra-head">Career Advancement</h1>
                  <p class="rev-par">Reveal more</p>
              </div>
              <div class="orange-cir" id="org-cir4">
                  <h1 class="pra-head">Experienced Faculty</h1>
                  <p class="rev-par">Reveal more</p>
              </div>
              <div class="orange-cir" id="org-cir5">
                  <h1 class="pra-head">Access to Recording</h1>
                  <p class="rev-par">Reveal more</p>
              </div>
          </div>
      </div>

      <!--certification and support section-->
      <div class="certification-support-container" id="certificationSection">
          <div class="certification-support-content">   
              <div class="arrow d-flex justify-content-left">
                <img src="../assets/images/hand icon.png"  class="arr-right-about"/>
                <h1 class="services-ser">Certification and Support</h1>
           </div>
              <div class="ser-supp-description">
                  <p>
                      <b>Receive an official Course Completion Certificate upon successfully finishing our Digital Marketing Course. This certificate validates your expertise in SEO, SEM, social media, content marketing, email marketing, and web analytics. Recognized in the industry, it demonstrates your ability to develop strategies, manage campaigns, and analyze metrics, enhancing your resume and opening new career opportunities.</b>
                  </p>
                  <button>Download Certificate</button>
              </div>
          </div>
          <div class="certification-support-image">
            <img src="../assets/images\carrersPage\image_carrerPage3.jpg" class="cer-supp-image" alt="certificationAndSupportimage">
          </div>
      </div>


      <!--reviews section-->
      <div id="reviewsSection">
          <div class="d-flex flex-row justify-content-center">
              <!-- <i class="fa-solid fa-arrow-right arr-right"></i> -->
              <h1 class="services-ser1">Reviews</h1>
          </div>
          <div class="reviews-container">
              <div class="testimonial-card">
                  <div class="d-flex flex-row">
                      <img src="../assets/images\carrersPage\image_carrerPage4.jpg" alt="reviewStudentimage1">
                      <p><b>Name</b> <br>Student</p>
                  </div>
                  <p class="testimonial">
                      "IAM DIGIPRO's Digital Marketing Course has completely changed my career trajectory. 
                      The practical, hands-on approach helped me gain real-world skills that I use daily in my job."
                  </p>
              </div>
              <div class="testimonial-card">
                  <div class="d-flex flex-row">
                      <img src="../assets/images\carrersPage\image_carrerPage4.jpg" alt="reviewStudentimage2">
                      <p><b>Name</b> <br>Student</p>
                  </div>
                  <p class="testimonial">
                      "IAM DIGIPRO's assistance in preparing for global certifications made the process so much easier. 
                      I now hold several certifications that have boosted my career."
                  </p>
              </div>
              <div class="testimonial-card">
                  <div class="d-flex flex-row">
                      <img src="../assets/images\carrersPage\image_carrerPage4.jpg" alt="reviewStudentimage3">
                      <p><b>Name</b> <br>Student</p>
                  </div>
                  <p class="testimonial">
                      "The faculty at IAM DIGIPRO are industry experts who provide invaluable insights and guidance. 
                      I learned so much and felt supported throughout the course."
                  </p>
              </div>
              <div class="testimonial-card">
                  <div class="d-flex flex-row">
                      <img src="../assets/images\carrersPage\image_carrerPage4.jpg" alt="reviewStudentimage4">
                      <p><b>Name</b> <br>Student</p>
                  </div>
                  <p class="testimonial">
                      "I appreciated the comprehensive certification program. 
                      It gave me a competitive edge in the job market and validated my skills."
                  </p>
              </div>
          </div>
      </div>
      
      <!--fee section-->
      <div id="feesSection">
          <div>
            <div class="d-flex flex-row justify-content-center">
              <!-- <i class="fa-solid fa-arrow-right arr-right"></i> -->
              <h1 class="services-ser1">Course Fee</h1>
            </div>
          </div>
          <div class="date">
            <p class="para">Course Fee: <b>₹20,999</b></p>
            <button class="app-btn">Apply now</button>
          </div>
          <div class="content">
            <!-- added styling to p tag -->
            <p style="color: black;">
              Our Digital Marketing Course is offered at a competitive fee of 20,999 Rs/-. To make this investment
              in your future more accessible, we provide flexible installment payment options.
              This allows you to focus on your learning and career advancement without the stress of a large upfront cost.
            </p>
          </div>
          <div class="fee-covers">
            <p>This fee covers</p>
          </div>
          <div class="fee-card-container">
            <div class="fee-card">
              3 Months of Intensive Learning
            </div>
            <div class="fee-card">
              Expert Faculty
            </div>
            <div class="fee-card">
              Certification
            </div>
            <div class="fee-card">
              Internship Support
            </div>
          </div>
      </div>
  </div>
    
    <!--enquiry form-->
    <div class="enquiry-container mt-5" >
        <div class="enquiry-form">
           <div class="arrow d-flex justify-content-center" style="margin-top: -60px;">
            <img src="../assets/images/hand icon.png"  class="arr-right-about"/>
            <h1 class="services-ser">Enquiry</h1>
       </div>
           <div class="left-side">
              <p>Ready to elevate your <br> brand online? <br>
                 <span class="span">Get a Free Consultation<br> Today!</span>
              </p>
           </div>
           <div class="enquiry-background-container">
              <h1 class="enquiry-heading">Let's Collab <i class="fa-solid fa-arrow-right" style="color: white;"></i></h1>
           </div>
        </div>
        <div class="enquiry-card-container" style="margin-top: 13vw; margin-bottom: 10vw;">
           <form>
              <h2>I am Interested in</h2>
              <div class="interest-buttons">
                 <div>
                    <button type="button"><span> Marketing</span></button>
                    <button type="button"><span>Web Development</span></button>
                 </div>
                 <div>
                    <button type="button"><span>Graphic Design</span></button>
                    <button type="button"><span>Consulting</span></button>
                    <button type="button"><span>Influencer Marketing</span></button>
                 </div>
              </div>
              <label for="name">I am</label>
              <input type="text" id="name" name="name" placeholder="John" required>
              <label for="Phone">Phone number</label>
              <input type="phone" id="phone" name="phone" required>
              <label for="email">Email <span style="color:rgb(109, 109, 108);">(Optional)</span></label>
              <input type="email" id="email" name="email" placeholder="iam@gmail.com">
              <button type="submit" class="enquiry-send-button"><span>Send</span></button>
           </form>
        </div>
    </div>
    <!--footer-->
   </body>
</html>
