<head>
    <title>Animated Registration Form</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css" /> -->
</head>
<body>
    <div class="container">
        <div class="image">
            <div class="form-box">
                <div class="form">
                    <h2>Login</h2>
                    <div class="input-box">
                        <input type="text" required/>
                        <label for="">Email</label>
                    </div>
                    <div class="input-box">
                        <input type="text" required/>
                        <label for="">Password</label>
                    </div>
                    <div class="group">
                        <a routerLink="#">Forgot Password</a>
                        <a routerLink="/signup">Sign up</a>
                    </div>
                    <button>Log In</button>
                </div>
            </div>
        </div>
    </div>
</body>