<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
        <link rel="stylesheet" href="../../styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/6cfb21434c.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a199c68c5e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     </head>
<body>

 <!-- HTML -->

<div class="contact-section">
    <div class="blogs-frontpage-card">
        <!-- <h>Consult Us</h> -->
        <h1>Consult Us</h1>
    </div>
</div>


<div class="scroll-container-wrapper">
    <div class="scroll-container">
        <div class="container">
            <div class="box" style="background-color: #ffd5ba;">
                <div class="box-content">
                    <span>01</span>
                    <h3>Digital Marketing</h3>
                    <p>We enhance your online presence and drive engagement through advanced SEO, social media, content marketing, and paid advertising strategies.</p>
                    <div class="tags">
                        <div class="tag">Search Engine Optimization</div>
                        <div class="tag">Pay-Per-Click</div>
                        <div class="tag">Social Media Marketing</div>
                        <div class="tag">Content Marketing</div>
                        <div class="tag">Email Marketing</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #fcebbc;">
                <div class="box-content">
                    <span>02</span>
                    <h3>Web/App Development</h3>
                    <p>We create responsive, user-friendly websites using the latest technologies to ensure they are fast, secure, and scalable.</p>
                    <div class="tags">
                        <div class="tag">Frontend Development</div>
                        <div class="tag">Backend Development</div>
                        <div class="tag">Full-stack Development</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #bafdff;">
                <div class="box-content">
                    <span>03</span>
                    <h3>Graphic/UI Design</h3>
                    <p>Our graphic services establish a strong brand identity with visually stunning, high-quality designs that captivate and engage your audience.</p>
                    <div class="tags">
                        <div class="tag">Branding</div>
                        <div class="tag">Logo Design</div>
                        <div class="tag">UI/UX Design</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #e0d9ff;">
                <div class="box-content">
                    <span>04</span>
                    <h3>IT Consulting</h3>
                    <p>We provide expert IT consulting services, helping businesses develop and implement effective IT strategies to drive growth and success.</p>
                    <div class="tags">
                        <div class="tag">IT Strategy</div>
                        <div class="tag">Cloud Solutions</div>
                        <div class="tag">Cybersecurity</div>
                    </div>
                </div>
            </div>
            <div class="box" style="background-color: #c5baff;">
                <div class="box-content">
                    <span>05</span>
                    <h3>Influencer Marketing</h3>
                    <p>We connect you with the right influencers to amplify your brand's message and reach a wider audience through data-driven, tailored strategies for maximum impact and ROI.</p>
                    <div class="tags">
                        <div class="tag">Campaign Strategy</div>
                        <div class="tag">Influencer Outreach</div>
                        <div class="tag">Brand Partnerships</div>
                        <div class="tag">Content Creating</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="left-section">
        <h5 style="font-weight: 500;">I am Digipro and we are here to serve!</h5>
        <h5>How can we help you?</h5>
        <h4 style="padding:15px 0px;">Our Location</h4>
        <p style="font-size: medium;">India<br>
            HUDA COLONY Chandanagar Hyderabad<br>
        Mon – Fri: 9:30 AM – 6:00 PM<br>
        (040) 66746684<br>
        +91 93817 76396
    </p>
        <!-- <p style="font-size: medium;">Email us at:<br>
        info@iamdigipro.com</p> -->
        <div class="map-image">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3873.695086108094!2d78.37834391483237!3d17.493360403492503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90dbe37eeacd%3A0x8a505b7427e4ff!2sManjeera%20Majestic%20Commercial%2C%20JNTU%20Rd%2C%20Kukatpally%20Housing%20Board%20Colony%2C%20Kukatpally%2C%20Hyderabad%2C%20Telangana%20500085!5e0!3m2!1sen!2sin!4v1594216394392!5m2!1sen!2sin" style="border:0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
    <div class="right-section">
        <form class="modal-form">
            <h2 style="margin-top: 1.5vw;">I am Interested in</h2>
            <div class="interest-buttons-btn">
                <div>
                    <button type="button">Digital Marketing</button>
                    <button type="button">Web Development</button>
                </div>
                <div>
                    <button type="button">Graphic Design</button>
                    <button type="button">Consulting</button>
                    <button type="button">Influencer Marketing</button>
                </div>
            </div>
            <label for="name">I am</label>
            <input type="text" id="name" name="name" placeholder="John" required>
            <div class="abcd">
                <div class="matter" style="margin-left: 1%;">
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="iam@gmail.com" required >
                        <label for="phone">Phone Number</label>
                        <input type="text" id="phone" name="phone">
                    </div>
                    <div class="input-box">
                        <label for="company">Company (optional)</label>
                        <input type="text" id="company" name="company">
                        <label for="website">Website (optional)</label>
                        <input type="text" id="website" name="website" style="margin-top: 4%;">
                    </div>
                </div>
            </div>
            <label for="message">Message</label>
            <textarea id="message" name="message" style="width: 100%; border-radius: 10px;"></textarea>
            <div class="checkbox-container">
                <input type="checkbox" checked="checked" name="remember">
                <span>I have read and accepted the terms and conditions and Privacy Policy</span>
            </div>
            <button type="submit" class="send-button-btn" style="width: 95%;">Send</button>
        </form>
    </div>
    
</div>   
<div id="social-icons-list">
     <div class="arrow d-flex justify-content-center">
        <img src="../assets/images/hand icon.png"  class="arr-right"/>
        <h1 class="services-ser">Our Platforms</h1>
</div> 
    <div class="values-list">
        <div>
            <a href="https://www.instagram.com/iam_digipro?igsh=MzRlODBiNWFlZA==" target="_blank">
                <i class="fa-brands fa-instagram"></i>
                <h2>Instagram</h2>
            </a>
        </div>
        <div>
            <a href="https://www.facebook.com/profile.php?id=61560868171435" target="_blank">
                <i class="fa-brands fa-facebook"></i>
                <h2>Facebook</h2>
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/iam-digipro-127123313" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
                <h2>LinkedIn</h2>
            </a>
        </div>
        <div>
            <a href="https://x.com/iamdigipro" target="_blank">
                <i class="fa-brands fa-twitter"></i>
                <h2>Twitter</h2>
            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/@IamDigitalPro/featured" target="_blank">
                <i class="fa-brands fa-youtube"></i>
                <h2>YouTube</h2>
            </a>
        </div>
    </div>
</div>
  

</body>
</html>